<div class="product-list">
  <div class="flex-row-end mr-10 mb-10">
    <button nz-button nzType="primary" nzShape="round">新增</button>
  </div>
  <nz-table [nzData]="[{}]" nzBordered nzShowPagination="false" nzSize="small">
    <tbody>
      <tr>
        <td>产品分类</td>
        <td>
          <nz-select
            nzPlaceHolder="选择产品分类"
            style="width: 33%"
            [(ngModel)]="searchEntity.productCode"
            (ngModelChange)="selectChange($event, 'ProductType')"
            #typeSelectRef
          >
            <nz-option-group *ngFor="let parent of productTypeSelect" [nzLabel]="parent.title">
              <nz-option *ngFor="let child of parent.children" [nzValue]="child.key" [nzLabel]="child.title"></nz-option>
            </nz-option-group>
          </nz-select>
        </td>
        <td>产品名称</td>
        <td>
          <nz-select
            nzPlaceHolder="选择产品名称"
            nzShowSearch 
            nzAllowClear 
            style="width: 50%"
            [(ngModel)]="searchEntity.nameId"
            (ngModelChange)="selectChange($event, 'ProductName')"
            #nameSelectRef
          >
          <nz-option *ngFor="let item of productNameSelect" [nzLabel]="item.name" [nzValue]="item.id">
          </nz-option>
        </nz-select>
        </td>
      </tr>
      <tr>
        <td>产品序列号</td>
        <td>
            <nz-input-group nzCompact nzSearch [nzAddOnAfter]="seriesSearch" style="width: 50%;">
                <input type="text" nzSearch nz-input placeholder="搜索产品序列号" [(ngModel)]="searchEntity.serialNumber"/>
              </nz-input-group>
              <ng-template #seriesSearch>
                <button nz-button nzType="primary" nzSearch (click)="searchSerial()">
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
        </td>
        <td>产品品牌</td>
        <td>
            <nz-select
            style="width: 50%;"
            nzPlaceHolder="产品品牌列表"
            [(ngModel)]="searchEntity.companyId"
            (ngModelChange)="selectChange($event, 'ProductBrand')"
            #brandSelectRef
            >
              <nz-option *ngFor="let item of companySelect" [nzLabel]="item.companyName" [nzValue]="item.id"></nz-option>
          </nz-select>
        </td>
      </tr>
      <tr>
        <td>生产日期</td>
        <td colSpan="3">
            <nz-radio-group [(ngModel)]="dateRadioType" (ngModelChange)="selectChange($event, 'Date')">
                <label nz-radio nzValue="Day">本日</label>
                <label nz-radio nzValue="Week">本周</label>
                <label nz-radio nzValue="Month">本月</label>
                <label nz-radio nzValue="Customer">自定义</label>
              </nz-radio-group>
              <nz-range-picker [nzSize]="'default'" ngModel [nzDisabled]="dateRadioType !== 'Customer'" (nzOnCalendarChange)="customerDateChange($event)"></nz-range-picker>
        </td>
      </tr>
      <tr>
        <td>已选条件</td>
        <td colSpan="3">
          <ng-container *ngFor="let item of tags">
            <nz-tag *ngIf="item.show" nzMode="closeable" (nzOnClose)="closeTag(item)">{{item.title}}</nz-tag>
          </ng-container>
            <div style="float: right;">
              <button nz-button nzType="primary" class="mr-10" (click)="searchAll()">
                <span nz-icon nzType="search" nzTheme="outline"></span>查询
              </button>
              <button nz-button nzType="primary" (click)="clean()">
                <span nz-icon nzType="close" nzTheme="outline"></span>清除
              </button>
            </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table #nzTable [nzData]="[{}]" [nzLoading]="isProductListLoading" class="mt-10">
    <thead>
      <tr>
        <th  [(nzChecked)]="checkAll"  (nzCheckedChange)="onAllChecked($event)"></th>
        <th [nzAlign]="'center'">序号</th>
        <th [nzAlign]="'center'">产品序列号</th>
        <th [nzAlign]="'center'">产品名称</th>
        <th [nzAlign]="'center'">产品分类</th>
        <th [nzAlign]="'center'">产品品牌</th>
        <th [nzAlign]="'center'">生产日期</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of productList;let idx = index">
        <td [nzAlign]="'center'" [nzChecked]="item.isSelected"></td>
        <td [nzAlign]="'center'">{{idx + 1}}</td>
        <td [nzAlign]="'center'">
          <a href="#">
            {{item.serialNumber}}
          </a>
        </td>
        <td [nzAlign]="'center'">
          <a href="#">
            {{item.name}}
          </a>
        </td>
        <td [nzAlign]="'center'">{{item.pproductName}}>{{item.productName}}</td>
        <td [nzAlign]="'center'">{{item.companyName}}</td>
        <td [nzAlign]="'center'">{{item.productDate}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
