.cl-76838F{
    color: #76838F
}
.cl-fff {
    color: #fff
}
.cl-333 {
    color: #333
}
.cl-666 {
    color: #666;
}
.cl-4e97d9 {
    color: #4397d9
}
.cl-62a8ea {
    color: #62a8ea
}
.cl-f1f4f5 {
    color: #f1f4f5
}