<div class="menu">
  <div class="menu-item">产品管理</div>
  <ul nz-menu nzMode="inline" nzTheme="dark">
    <ng-container *ngFor="let menu of menuList">
      <ng-container *ngIf="menu.childMenu.length !== 0; else template">
        <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon">
          <ul>
            <li *ngFor="let item of menu.childMenu" nz-menu-item>
              <a (click)="showContent(item.key)">{{ item.title }}</a>
            </li>
          </ul>
        </li>
      </ng-container>
      <ng-template #template>
        <li nz-menu-item>
            <a (click)="showContent(menu.key)">{{menu.title}}</a>
        </li>
      </ng-template>
    </ng-container>
  </ul>
</div>
