<div class="head flex-row-center">
    <div class="left flex-row-center">
        <i class="icon"></i>
        <h1>综合管理平台</h1>
    </div>
    <div class="head-nav flex">
        <div class="wrap flex-row-center">
            <i class="icon-product"></i>
            <span>产品管理</span>
        </div>
        <div class="wrap flex-row-center">
            <i class="icon-setting"></i>
            <span>系统管理</span>
        </div>
    </div>
    <div class="right flex-row-center mr-10">
        <div class="wrap flex-row-center">
            <i class="icon-phone"></i>
        </div>
        <div class="wrap flex-row-center">
            <i class="icon-quit"></i>
        </div>
    </div>
</div>